name: APK Yapici
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Python Kurulumu
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Java Kurulumu (Android icin sart)
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        
    - name: Flutter Kurulumu
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        
    - name: Android SDK Ayarlari
      uses: android-actions/setup-android@v3
        
    - name: Flet ve Gereklilikleri Kur
      run: |
        pip install flet
        pip install -r requirements.txt
        
    - name: APK Derleme (Build)
      run: |
        flet build apk --verbose
        
    - name: APK'yı Yükle (Artifacts)
      uses: actions/upload-artifact@v4
      with:
        name: transfer-pro-apk
        path: build/apk/*.apk
